*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* DEBUG */

.debug {
    border: 1px solid red;
}

/* CONTAINERS */

.container {
    max-width: 1220px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}
/* UTILITY */

.d-none {
    display: none;
}

/* Colors */

.bg-dark {
    background-color: dimgray;
}

.bg-light {
    background-color: white;
}